<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serving static file</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <!-- in express js, By `default` you cannot access static files like html, css, image files, or javascript files. you need to use middleware to serve static files. -->
    <div class="card">
        <h1> Welcome to Demo API</h1>
        <p>This is a simple demo movies API built using Express JS and a JSON file as data source.</p>
        <p>This is a simple <b>HTML</b> page to demo `serving static files`.</p>
    </div>



</body>
</html>